.Gcontainer{
    background-color: white;
    margin: 10%;
    padding: 20px;
}

.graduates{
    background-image: url(../../assets/images/school.png);
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.graduado{
    width: 200px;
    height: 300px;
    background-color: gray;
    color: white;
    text-align: center;
    margin: 2%;
}
.fotoEgresado{
    height:65%;
    width: 100%;
}
.infoEgresado{
    margin: 7px;
}
.informatica{
    background-image: url('../../assets/images/egresadoInformatica.png');
}
.electronica{
    background-image: url('../../assets/images/egresadoElectronica.png');
}
.construcciones{
    background-image: url('../../assets/images/egresadoConstrucciones.png');
}
.graduadoContent{
    background-color: black;
    opacity:0.8;
    height: auto;
    margin:0;
    padding: 0;
    height: 38%;
}
.Gfiller{
    color:transparent;
    height: 60%;
    padding: 0;
    margin: 0;
}