.mainContainer{
    background-image: url('../../assets/images/backgroundGif.gif');
    justify-content: cover;
}
.LPcontainer{
    align-content: center;
    position: relative;
    background-color: lightgrey;
    margin: 10%;
    padding: 10px;
    opacity: 0.9;
    

}
.title{
    text-align: center;
}
.subtitle{
    text-align: center;
}
.paragraph{
    text-align: center;
    background-color: white;
    margin: 50px;
    padding: 20px;
    border-radius: 10px;
    
}